<section>
  <div class="card-first">
    <div>
      <h2>ИССЛЕДОВАНИЕ И ПРОГНОЗИРОВАНИЕ ДИНАМИКИ ЛОЯЛЬНОСТИ УЧАСТНИКОВ НПО</h2>
      <p style="font-size: 16px">
        Оцените уровень лояльности участников, выявите основные факторы,
        влияющие на этот показатель, и определите тенденции в динамике
        лояльности.
      </p>
    </div>
    <div>
      <img src="../../../assets/img/pensioner.png" alt="" />
    </div>
  </div>

  <section class="blue-section">
    <p class="blue-section-p">
      Мы провели исследование факторов, влияющих на лояльность участников НПО
      (негосударственного пенсионного обеспечения), и построили модель для
      прогнозирования её значения на квартальном или годовом интервале.
    </p>
  </section>

  <section>
    <div class="list-wrapper">
      <h1 class="pluses">Преимущества сервиса:</h1>
      <ul>
        <li>
          <div>
            <div class="img-wrap img-wrap-icons">
              <img src="../../../assets/img/save.png" alt="Информация" />
              <h4>Актуальная и надежная информация</h4>
            </div>
            <p class="list-text">
              Предоставляем актуальную и надежную информацию о топе клиентов по
              склонности к оттоку в зависимости от выбранных данных
            </p>
          </div>
        </li>
        <li>
          <div>
            <div class="img-wrap img-wrap-icons">
              <img src="../../../assets/img/analys.png" alt="Информация" />
              <h4>Использование современных аналитических методов</h4>
            </div>
            <p class="list-text">
              Используем современные аналитические методы, такие как анализ
              данных, моделирование и статистические алгоритмы, чтобы
              предоставить систематическую и качественную выборку;
            </p>
          </div>
        </li>
        <li>
          <div>
            <div class="img-wrap img-wrap-icons">
              <img src="../../../assets/img/dinozavr.png" alt="Удобство" />
              <h4>Удобство использования</h4>
            </div>
            <p class="list-text">
              Удобен в использовании благодаря своей доступности онлайн и
              интуитивно понятному интерфейсу, что позволяет пользователям
              быстро получить процент оттока клиентов;
            </p>
          </div>
        </li>
      </ul>
    </div>
  </section>
</section>
